@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  scroll-behavior: smooth;
  font-family: "archiaregular", sans-serif;
}
.custom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

.custom-text {
  line-height: 100%;
  margin: 0;
  width: 100%;
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 48px;
}

.custom-text .highlight {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-text:hover .highlight {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.custom-text a {
  text-decoration: none;
  color: inherit;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.marquee {
  animation: marquee 15s linear infinite;
  font-size: 4rem;
  color: white;
}
.hover\:description:hover {
  opacity: 1;
}
.navbutton {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(50, 50, 50, 0.75);
  border: 1px solid rgba(80, 80, 80, 0.75);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 80px;
}

@keyframes animatedGradient3 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedGradient2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-image: linear-gradient(60deg, #2e2e2e, #121212);
  background-size: 400% 400%;
  animation: animatedGradient 5s ease infinite;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/Sk-Modernist-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyCustomFont", sans-serif;
}
.liquid-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28);
  animation: fill 3s ease-in-out forwards;
}

@keyframes fill {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

/* styles.css */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slideLeft 4s linear infinite;
}
.lack {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    --btn-bg: #da0000;
    --bg: #f22c3a;
  }
  &:nth-child(2) {
    --btn-bg: #fff;
    --bg: #fff;
  }
}

button {
  --width: 180px;
  --height: 60px;
  border: 0;
  position: relative;
  min-width: var(--width);
  min-height: var(--height);
  border-radius: var(--height);
  color: #ffff;

  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;

  .text,
  .icon-container {
    position: relative;
    z-index: 2;
  }

  .icon-container {
    --icon-size: 25px;
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 15px;
    transition: transform 500ms ease;

    .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: var(--icon-size);
      height: var(--icon-size);
      transition: transform 500ms ease, opacity 250ms ease;

      &--left {
        transform: translateX(-200%);
        opacity: 0;
      }

      svg {
        width: 100%;
        height: 100%;
        fill: #fff;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    border-radius: var(--height);
    z-index: 1;
    transition: transform 500ms ease;
  }

  &:hover {
    &::after {
      transform: translateX(65%);
    }

    .icon-container {
      transform: translateX(125%);
      .icon {
        &--left {
          transform: translateX(0);
          opacity: 1;
        }
        &--right {
          transform: translateX(200%);
          opacity: 0;
        }
      }
    }
  }
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
  a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.section {
  background: linear-gradient(to right, #aa00fb, #7304ff);
}
